apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: full-namespace-access
  namespace: sandbox-bardia-rk
rules:
- apiGroups: [""]
  resources: ["*"] 
  verbs: ["*"]
- apiGroups: ["apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["extensions"]
  resources: ["*"]
  verbs: ["*"]

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: full-namespace-access-binding
  namespace: sandbox-bardia-rk
subjects:
- kind: ServiceAccount
  name: clickhouse-operator
  namespace: sandbox-bardia-rk
roleRef:
  kind: Role
  name: full-namespace-access
  apiGroup: rbac.authorization.k8s.io

