apiVersion: v1
kind: Secret
metadata:
  name: minio-creds
  namespace: hamravesh-samurai
type: Opaque
stringData:
  MINIO_ROOT_USER: "minioadmin"
  MINIO_ROOT_PASSWORD: "minioadminpassword"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: hamravesh-samurai
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: rawfile-btrfs
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: hamravesh-samurai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: minio/minio:latest
          args: ["server", "/data"]
          envFrom:
            - secretRef:
                name: minio-creds
          ports:
            - containerPort: 9000
              name: http
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: minio-data
---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: hamravesh-samurai
spec:
  selector:
    app: minio
  ports:
    - name: http
      port: 9000
      targetPort: 9000
  type: ClusterIP

